#header {
  background-color: var(--green);
  text-transform: uppercase;
  min-height: 100px;
  padding: 10px;
}

#header > div > h2 {
  color: white;
  text-align: center;
  margin-top: 20px;
}

@media screen and (min-width: 770px) {
  #header > div > h2 {
    text-align: left;
  }
}
