#header {
  background-color: var(--green);
  text-transform: uppercase;
  min-height: 100px;
  padding: 10px 0px;
}

#header > div > h2 {
  color: white;
  text-align: center;
  margin-top: 20px;
}

#content > div {
  margin: auto;
  text-align: center;
  margin-left: -12px;
}

#content > div > div > h3 {
  color: var(--dark-gray);
  text-transform: uppercase;
}

#content > div > div > p {
  color: var(--footer-color-font);
}

#image_container {
  position: relative;
  top: 0;
  left: 15px;
  height: 300px;
  width: 100%;
}

#text_about {
  width: 100%;
  margin: 20px auto;
}

#services_heading {
  color: var(--dark-gray);
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: -12px;
}

#services {
  background-color: var(--soft-gray);
  margin: 25px 0px;
  height: 100%;
}

.service_item {
  height: 200px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.service_item:hover {
  background-color: rgba(128, 128, 128, 0.3);
}

.service_item > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service_item > div > p {
  font-weight: 500;
  font-size: 18px;
  margin-top: 15px;
  text-transform: uppercase;
  color: rgba(128, 128, 128, 1);
}

.active_service {
  background-color: rgba(128, 128, 128, 0.3);
}

.service_item > div > p {
  color: #423e3e;
}

#services_list {
  color: rgba(128, 128, 128, 1);
  margin: 0px 0px 55px -12px;
  text-align: center;
}

#services_list > ul {
  list-style: none;
  margin-left: 3%;
}

@media screen and (min-width: 880px) {
  #header > div > h2 {
    text-align: left;
  }

  #content > div {
    text-align: left;
  }

  #image_container {
    width: 40%;
  }

  #text_about {
    width: 55%;
    margin-left: 20px;
    padding: 0;
    margin: 0;
  }

  #services_list {
    text-align: left;
  }
}
