html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.media-icon {
  margin: 0px 3px;
  cursor: pointer;
}

.media-icon:hover > svg > path {
  fill: var(--blue-media);
}

.link {
  font-weight: 500;
  color: var(--dark-gray);
  margin-right: 20px;
}

.link:hover {
  color: var(--blue-media);
}

.active {
  color: var(--green);
}

main {
  width: 100%;
  min-height: 50vh;
}

.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: var(--green);
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  border: 1px solid black;
}

.pin:after {
  content: '';
  width: 14px;
  height: 14px;
  margin: 7px 0 0 8px;
  background: #e6e6e6;
  position: absolute;
  border-radius: 50%;
  border: 1px solid black;
}

#loader {
  width: 100%;
  text-align: center;
}

#loader > div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--green);
  display: inline-block;
  animation: loader 3s infinite;
  margin: 10px;
}

@media screen and (min-width: 770px) {
  .container {
    width: 70%;
  }
}

@keyframes loader {
  0% {
    transform: translateX(1000%);
    opacity: 0;
  }
  50% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000%);
    opacity: 0;
  }
}
